body {
    margin: 0; /* Elimina el margen por defecto del body */
    padding: 0; /* Elimina el padding por defecto del body */
}

/* Estilos para la barra de navegación */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #f8f9fa; /* Color de fondo claro para la barra de navegación */
    border-bottom: 1px solid #dee2e6; /* Borde en la parte inferior de la barra de navegación */
  }
  
  nav h2 {
    font-size: 1.5rem;
    margin: 0;
  }

  nav h2:hover{
    background-color: rgb(227, 174, 174);
  }
  
  nav .container {
    display: flex;
    align-items: center;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 1rem; /* Espacio entre los elementos de la lista */
  }
  
  nav ul li {
    text-decoration: none;
    color: #007bff; /* Color del texto del enlace */
    font-size: 1rem;
  }
  
  nav ul li:hover {
    background-color: rgb(237, 193, 193);
    
  }
  
 
  