.NavBar {
  background-color: #f8f8f8; 
  padding: 10px 20px; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.Logo {
  font-size: 24px; 
  font-weight: bold; 
}

.categories {
  display: flex; 
  justify-content: center; 
  flex-grow: 1; 
}

.categories a {
  margin: 0 15px; 
  text-decoration: none; 
  color: #333; 
  transition: color 0.3s; 
}

.categories a:hover {
  color: #007bff; 
}
.Cart {
  margin-left: auto; 
}



